{% extends "backoffice/base.html.twig" %}

{% block title %}Formations: delete{% endblock %}

{% block body %}
    <div class="container-xl d-flex justify-content-center">
        <div class="col-6">
            <div class="card">
                <div class="card-header">
                    <h5>Suppression</h5>
                </div>
                <div class="card-body">
                    <form action="{{ url('backoffice_formations_confirmed_delete', { id: formation.id }) }}" method="post">
                        <input type="hidden" name="token" value="{{ csrf_token('delete.' ~ formation.id) }}"/>

                        <button type="submit" class="btn btn-danger">Supprimer la formation</button>
                        <a href="{{ path("backoffice_formations_manage") }}" class="btn btn-outline-primary">Retour</a>
                    </form>
                </div>
            </div>
        </div>
    </div>
{% endblock %}