{% extends "backoffice/base.html.twig" %}

{% block title %}Formations: create{% endblock %}

{% block body %}

    <div class="container-xl">
        <div class="card">
            <div class="card-header">
                <div class="d-flex justify-content-between">
                    <h5>Créer une formation</h5>
                    <div class="d-flex justify-content-end">
                        <a href="{{ path("backoffice_formations_manage") }}" class="btn btn-sm btn-outline-primary">Retour</a>
                    </div>
                </div>
            </div>
            <div class="card-body">
                {% include "backoffice/formation/_form.html.twig" %}
            </div>
        </div>
    </div>

{% endblock %}