{% extends "backoffice/base.html.twig" %}

{% block title %}Formations: create{% endblock %}

{% block body %}

    <div class="container-xl">
        <h1>Créer une nouvelle formation:</h1>
        {% include "backoffice/formation/_form.html.twig" %}
    </div>

{% endblock %}