{% extends "backoffice/base.html.twig" %}

{% block title %}Formations: update{% endblock %}

{% block body %}

    <div class="container-xl">
        <h1>Modifier la formation:</h1>
        {% include "backoffice/formation/_form.html.twig" %}
    </div>

{% endblock %}